*{
   font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
   text-align: center;
   background-color: rgb(206, 245, 179);
}


h1 {
   font-size: 50px;
   color: brown;
}
h2 {
   font-size: 40px;
   color: brown;
}
h3 {
   font-size: 30px;
   color: brown;
}

p {
   font-size: 25px;
   font-weight: bold;
}
input{
   color: black;
   background-color: white;
   height: 25px;
   font-size: 20px;
}
.instrucciones {
   color: rgba(128, 128, 128, 0.877);
   font-size: 20px;
}