*{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.juego{
   border: 1px solid black;
   max-width: 550px;
   margin: auto;
   margin-top: 10%;
}
.bolas {
   text-align: center;
   max-width: 510px;
   min-height: 150px;
   padding: auto;
   margin: 20px;
}

.bola_1,
.bola_2,
.bola_3 {
   text-align: center;
   float: left;
   width: 150px;
   height: 150px;
   background-color: red;
   border-radius: 50%;
   margin: auto;
   margin-left: 10px;
   margin-right: 10px;
   font-size: 250%;
   color: whitesmoke;
}

.button_container{
   max-width: 150px;
   margin: auto;
}
button{
   font-size: 30px;
   text-align: center;
   border-radius: 30%;
   width: 150px;
   height: 50px;
   margin: auto;
   background-color: yellowgreen;
}