#menu, #principal, #spam {
   float:left;
   border: 2px solid rgb(153, 0, 0, 0.767);
   margin-left: 0.5em;
   padding: 0.5em;
}
#menu {
   width: 15%;
}
#principal {
   width: 60%;
}
#spam {
   width: 15%
}
#pie {
   clear: both;
   background-color: rgba(153, 0, 0, 0.767);
   color:rgb(255, 174, 0);
}