* {
   margin: 0px;
   padding: 0px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
   color: #123C69;
   text-decoration: none;
}

hr {
   border: 2px solid white;
}

body {
   background-color: #579fa157;
}

nav {
   min-width: 250px;
}

section {
   min-width: 324px;
   max-width: 1000px;
   margin: 72px;
}

section header,
article {
   margin-top: 20px;
   margin-bottom: 20px;
}

article p {
   color: rgb(83, 83, 83);
   font-size: 20px;
   padding: 3px;
}

section header h1 {
   font-size: 40px;
   color: #123C69;
   padding-bottom: 5px;
}

section header h2 {
   color: #AC3B61;
   font-size: 30px;
}

.index_header {
   text-align: center;
   min-width: 320;
   max-width: 600px;
   padding: 20px;
   margin: auto;
   border-bottom: solid 4px white;
}

.page_title {
   color: #AC3B61;
   text-transform: uppercase;
   padding: 10px;
   font-size: 60px;
}

.author_name {
   color: #123C69;
   padding: 10px;
   text-transform: uppercase;
   font-size: 30px;
}

.page_description {
   color: rgb(83, 83, 83);
   padding: 10px;
   font-size: 25px;
}


.index_list {
   font-size: 25px;
   list-style-type: none;
   text-align: center;
   width: 250px;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
   border-style: solid;
   border-radius: 12px;
   border-width: 2px;
   border-color: #AC3B61;
}

.back_button {
   float: left;
   font-size: 25px;
   text-align: center;
   width: 250px;
   margin: 20px;
   margin-top: 40px;
   margin-bottom: 20px;
   border-style: solid;
   border-radius: 12px;
   border-width: 2px;
   border-color: #AC3B61;
   text-transform: uppercase;
}

.back_button:hover {
   background-color: white;
   border-radius: 10px;
}

.index_list li {
   padding: 10px;
}

.index_list li:hover {
   background-color: white;
   border-radius: 10px;
}

.profile_image {
   border-style: solid;
   width: 250px;
   border-radius: 12px;
   border-width: 2px;
   border-color: #AC3B61;
}

.bold {
   font-weight: bold;
}

.underlined {
   font-style: italic;
   text-decoration: underline;
}

.fnt-red {
   color: red;
}

.fnt-blue {
   color: blue;
}

.titulo {
   color: rgba(64, 92, 216, 0.726);
   font-size: 30px;
   font-style: italic;
}

.text {
   color: darkblue;
   font-size: 15px;
}

.destacado {
   font-weight: bold;
   font-style: italic;
}

.cats {
   min-height: 326px;
   margin: auto;
   max-width: 978px;
   margin-top: 50px;

}

.cats article {
   float: right;
   margin: 10px;
   height: 306px;
   width: 306px;
}

.cats article img {
   height: 300px;
   width: 300px;
   border: solid 3px #AC3B61;
   border-radius: 5px;
}

.cat_info {
   text-align: justify;
   margin: auto;
   margin-top: 90px;
   max-width: 978px;
}

.elementos_venta {
   margin: auto;
   max-width: 1304px;
   min-height: 534px;
   margin-top: 20px;
}

.elementos_venta article {
   float: left;
   display: block;
   margin: 5px;
   border-radius: 30px;
   border: solid 1px #3fcdbc;
   padding: 5px;
   background-color: white;
   height: 500px;
   width: 304px;
   position: relative;
}

.img_bici {
   width: 300px;
   height: 300px;
   border-radius: 30px;
   border: solid 2px #fd938f;
}

.img_bici:hover {
   opacity: .5;
}

.prizes {
   margin: 20px;
   color: black;
   font-size: 30px;
}

.element_description {
   display: block;
   width: 264px;
   height: 50px;
   margin: 20px;
   margin-bottom: 10px;
   color: rgb(83, 83, 83);
   font-size: 17px;
}

.actions {
   width: 270px;
   height: 40px;
   margin: auto;
}

.actions div {
   text-align: center;
   float: left;
   width: 135px;
   padding-top: 2px;
}

.chat_icon:hover {
   background-color: #3fcdbc;
   border-radius: 20px;
}

.like_icon:hover {
   background-color: #fd938f;
   border-radius: 20px;
}

.actions div img {
   width: 30px;
}

.franja_superior{
   text-transform: uppercase;
   color: white;
   width: 100%;
   height: 40px;
   position: fixed;
   top: 0px;
   text-align: center;
   background-color: blue;
   margin-bottom: 80px;
}
.franja_inferior{
   text-transform: uppercase;
   color: white;
   width: 100%;
   height: 40px;
   position: fixed;
   bottom: 0px;
   text-align: center;
   background-color: rgb(255, 0, 0);
}

.header_ex5 {
   text-align: center;
   min-width: 320;
   max-width: 600px;
   padding: 20px;
   margin: auto;
   margin-top: 18vw;
   border-bottom: solid 4px white;
   border-top: solid 4px white;
}
.back_button_ex5 {
   font-size: 25px;
   text-align: center;
   width: 250px;
   margin: auto;
   border-style: solid;
   border-radius: 12px;
   border-width: 2px;
   border-color: #AC3B61;
   text-transform: uppercase;
}

.back_button_ex5:hover {
   background-color: white;
   border-radius: 10px;
}

/*
main{
   margin: auto;
}
article{
   float: left;
   margin: 5px;
   border-style: solid;
   border-width: 1px;
   border-radius: 30px;
   border-color: rgb(117, 231, 102);
   padding: 5px;
   background-color: white;
   height: 500px;
   width: 304px;
}
.bold{
   font-weight: bold;
   font-size: 1.1em;
}
.underlined{
   font-style: italic;
   text-decoration: underline;
}
.fnt-red{
   color:red;
}
.fnt-blue{
   color:blue;
}
.titulo{
   font-size: 50px;
   text-decoration: underline;
}
#nombre_alumno{
   color:red;
   text-decoration: underline;
}
img{
   border-style: double;
   border-width: 2px;
   border-color: yellowgreen;
}
.img_bici{
   width: 300px;
   height: 300px;
   border-radius: 30px;
}
section{
   min-width: 326px;
   max-width: 978;
   height: 524px;
   width: auto;
   padding: auto;
   margin: auto;
}
.prizes{
   margin: 20px;
   color:black;
   font-size: 30px;
}
.element_description{
   width: 264px;
   height: 50px;
   margin: 20px;
   color:black;
   font-size: 17px;
}