* {
   margin:0;
   padding: 0;
}
main {
   display: flex;
   padding-top: 1%;
}
nav, section, aside {
   float:left;
   border: 2px solid  rgb(0, 0, 0);
   margin-left: 2em;
   padding: 0.5em;
   background-color: rgba(74, 155, 71, 0.486);
}
nav {
   width: 15%;
}
nav ul {
   list-style-type: none;
   padding: 2px;
}
nav ul li{
   text-align: center;
   background-color: rgba(91, 82, 170, 0.63);
   border-radius: 2em;
   margin:5%;
   padding: 2%;
}
nav ul li:hover{
   background-color: rgb(34, 180, 100);
   color: white;
}
section {
   width: 60%;
   margin-bottom: 2em;
}
aside {
   width: 15%
}
footer {
   margin-top: 1%;
   border: 2px solid  rgb(0, 0, 0);
   font-size: 1.5em;
   clear: both;
   background-color: rgba(50, 202, 95, 0.425);
   color:rgb(56, 1, 255);  
}
header, footer {
   font-size: 1.5em;
   font-style: inherit;
   text-align: center;
 }
a {
   color: red;
   text-decoration: none;
}